html body {
	font-family: 'Balsamiq Sans', cursive;
}

body {
	background-image: url("./images/back-wood.jpg");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover; 
}

.title {
	background-color: rgb(223, 205, 10);
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.container {
	margin-top: 5px;
	background-color: rgb(223, 223, 223);
	box-shadow: 7px 7px 13px 0px rgba(0,0,0,0.75);
}

/*--------------------------NAV-BAR------------------------------*/

.navbar-brand {
	font-size: 1.5em;
}

.nav-item{
	font-size: 1.5em;
}


/*--------------------------FORMULAIRES--------------------------*/

.form-group {
	width: 33%;
	margin: auto;
}


#div-submit-button {
	width: 33%;
	margin: auto;
	text-align: center;
	margin-top: 10px;
}

.class-submit-button {
	width: 100%;
	background-color: green;
}

.btn {
	border-color: green;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(46, 99,33);
  border-color: rgb(46, 99,33); 
}

.btn-primary:focus {
  color: #fff;
  background-color: rgb(46, 99,33);
  border-color: rgb(46, 99,33); 
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(46, 99,33);
  border-color: rgb(46, 99,33);
}


/*--------------------------ERRORS MESSAGE--------------------------*/

.flash {
	width: 20%;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
}


/*--------------------Welcome / not connected message---------------*/

#welcome-message{
	text-align: center;
}

