<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- responsive meta settings -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"><!-- homemade CSS -->
        <title>{% if title %}{{ title }} - Hackwan{% else %}Welcome to Hackwan{% endif %}</title>

    </head>
        <body>
            <div id="main-container">
              <header>
                {% block header %}
                  
                {% endblock %}   
              </header>
              
              <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: white;">
                <a class="navbar-brand" href="{{ url_for('index') }}">Hackwan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">About </a>
                      </li>
                    {% if current_user.is_anonymous %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log in </a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="#">{{ current_user.username }} <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log out </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </nav>
              <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock %}
              </div>

            </div><!-- EO div main-container -->

            <!-- Bootstrap scripts -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body>
    </html>

