{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for photo in photos %}
    <div><p>{{ photo.author.username }} has uploaded: <b>{{ photo.filename }}</b></p></div>
    {% endfor %}
{% endblock %}
