{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form class="col-12" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class="form-control", placeholder="Username...") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(size=32, class="form-control", placeholder="Password...") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div id="div-submit-button">{{ form.submit(class="btn btn-primary class-submit-button") }}</div>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    <hr/>
{% endblock %}
