{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form class="col-12" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(size=32, class="form-control", placeholder="Username...") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(size=64, class="form-control", placeholder="Email...") }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(size=32, class="form-control", placeholder="Password...") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32, class="form-control", placeholder="Password...") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div id="div-submit-button">{{ form.submit(class="btn btn-primary class-submit-button") }}</div>
    </form>
    <hr/>
{% endblock %}
